<div class="row" *ngIf="location">
    <div class="col centerparent" style="width:350px">
        <div class="card" style="width:350px; margin-top:22rem; margin-bottom:22rem">
            <div class="card-body">
                <h3>{{location}}</h3>
            </div>
        </div>
    </div>
</div>



<div class="row" *ngIf="!location">
    <div class="col centerparent" style="width:350px">
        <div class="card" style="width:350px; margin-top:22rem; margin-bottom:22rem">
            <div class="card-body">
                <div class="centerparent" style="padding-bottom: 10%">
                    <h4>Select a Location</h4>
                </div>
                <form class="" [formGroup]="LocFilterForm" style="float:left; width:65%;padding-bottom:5px">

                    <div class="form-group row" style="padding-top: 10px; padding-bottom:10px">
                        <div class="">

                            <select class="" formControlName="name" style="height:35px; width:100%" required id="name">
                                <option selected>select...</option>
                                <option *ngFor="let loc of Locations">{{loc}}</option>

                            </select>
                        </div>

                    </div>
                </form>
                <div style="float:right; padding-top:8px">
                    <a class="btn btn-outline-primary" (click)="select()">Select</a>
                </div>
            </div>
        </div>
    </div>

</div>