.Lobter {
  font-family: "Lobter";
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: 1px;
  box-shadow: none;
}

li {
  white-space: pre;
}

@media screen and (min-width: 988px) {
  ul {
    max-height: 55px;
    overflow: hidden;
  }
}
