<style>
     table {
            border-spacing: 0px;
            
            margin-left: auto;
            margin-right: auto;
        }
        
</style>

<body>
    <div class="container-xl">
        <div class="CalendarBox" *ngIf="loaded">
            <div *ngIf="!daily">
                <div *ngIf="!specific">
                    <form class="" [formGroup]="YearToSelect">
                        <div class="form-group row" style="padding: 10px">
                            <div class="">
                                <select class="" formControlName="year" style="height:35px;" required id="year" (change)="searchyear()">
                                    <option selected>{{select}}</option>

                                    <option>{{TheYears[0]}}</option>
                                    <option>{{TheYears[1]}}</option>
                                    <option>{{TheYears[2]}}</option>
                                </select>
                            </div>

                        </div>
                    </form>
                    <form class="" [formGroup]="MonthToSelect">
                        <div class="form-group row" style="padding: 10px">
                            <div class="">
                                <select class="" formControlName="month" style="height:35px;" required id="month">
                                    <option selected>select...</option>
                                    <option *ngFor="let month1 of Months">{{month1}}</option>
                                </select>
                            </div>

                        </div>
                    </form>
                    <a class="btn btn-outline-primary" (click)="selected()">Select</a>
                </div>

                <table *ngIf="specific" class="table table-striped table-hover">
                    <div><a class="btn btn-outline-primary" (click)="back()">back</a></div>
                    <thead class="word-wrap">
                        <th class="divisor" scope="col">Hostaway </th>
                        <th scope="col"></th>
                        <th scope="col"><a class="btn btn-outline-primary" (click)="dailyview()">daily view</a></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </thead>
                    <tbody>
                        <tr class="">

                            <th>
                                <form [formGroup]="LocFilterForm">
                                    <div class="form-group row" style="padding: 5px">
                                        <div class="divisor" scope="row"><select class="table-filter" formControlName="name" style="height:35px;width:100%;" required id="name" (change)="filterLocation()">
                                                <option selected>select...</option>
                                                <option *ngFor="let loc of Locations; let j = index">{{loc}}</option>

                                            </select></div>
                                    </div>
                                </form>
                            </th>
                            <th class="divisor">{{month}} {{year}}</th>
                            <th>Total: ${{total | number :'1.2-2'}}</th>
                            <td></td>
                            <td></td>
                        </tr>


                        <tr class="" *ngFor="let day of ShownDay | myfilter:filterargs; let i = index ">
                            <th scope="row">{{day.locationName}}</th>
                            <td>{{day.date}}</td>
                            <td>${{day.priceForDay | number :'1.2-2'}}</td>
                            <td></td>
                            <td></td>

                        </tr>
                        
                    </tbody>
                    
                </table>
            </div>
            <div *ngIf="daily">
                
                <table *ngIf="specific" class="table table-striped table-hover">
                    <div><a class="btn btn-outline-primary" (click)="back()">back</a></div>
                    <thead class="word-wrap">
                        <th class="divisor" scope="col">Hostaway </th>
                        <th scope="col"></th>
                        <th scope="col"><a class="btn btn-outline-primary" (click)="monthly()">monthly view</a></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </thead>
                    <tbody>
                        <tr class="">

                            <th class="divisor">
                                {{month}} {{year}}
                            </th>
                            <th >Locations</th>
                            <th>Daily Total</th>
                            <td></td>
                            <td></td>
                        </tr>


                        <tr class="" *ngFor="let l of DailyLocs;let i = index">
                            <th scope="row">{{DayDates[i]}}</th>
                            <td class="wrapped">{{l}}</td>
                            <td>${{DayProfit[i] | number: '1.2-2'}}</td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Total: ${{total | number :'1.2-2'}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>