<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>

<body>

    <footer class="text-center text-lg-start bg-light text-muted">

        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
            </div>
            <div>
                <a class="me-4 text-reset" href="https://twitter.com/ChristianGiube1" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="me-4 text-reset" href="https://instagram.com/celioniism?igshid=NmQ2ZmYxZjA=" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="me-4 text-reset" href="https://www.linkedin.com/in/christian-giubergia-8b4957196/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="me-4 text-reset" href="https://github.com/Celioniism" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </section>

        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 unselectable">
                        <h6 class=" mb-4 Lobter unselectable" style="font-weight: bolder; color:black; font-size: 24px">
                            <i class="fas fa-gem me-3 unselectable"></i>Hostaway Statistics System
                        </h6>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 unselectable">
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 unselectable">

                        <h6 class="Lobter fw-bold mb-4 unselectable" style="font-weight: bolder; color:black; font-size: 24px">
                            Contact Me
                        </h6>
                        <p class="unselectable" style="font-weight: 600; font-size: 13px "><i class="fas fa-home me-3 unselectable"></i> New York, VS 11581, US</p>
                        <p class="unselectable" style="font-weight: 600;font-size: 13px  ">
                            <i class="unselectable" class="fas fa-envelope me-3"></i>
                            Admin@CGportfolio.us
                        </p>
                        <p class="unselectable" style="font-weight: 600;font-size: 13px  "><i class="fas fa-phone me-3"></i> + 1 516 469 0332</p>
                        <p class="unselectable" style="font-weight: 600;font-size: 13px  "><i class="fas fa-print me-3"></i> + 1 516 599 0748</p>

                    </div>
                </div>

            </div>
        </section>

        <div class="text-center p-4 unselectable" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-bold unselectable">cgportfolio.us</a>
        </div>

    </footer>
</body>

</html>